.dialog-title{
    color: navy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.cancel-form{
    background-color: #d2c7e0;
}
