<div class="mt-3 mx-3 d-flex justify-content-around flex-wrap gap-3" style="background-color: aliceblue;">
    <div class="w-50 h-25 card px-2">
        <p>Ticket Id : {{ item.ticketId }}</p>
        <p>Raised By: {{ item.raisedByUserName }}</p>
        <p>Created On: {{ item.createdOn | date }}</p>
        <p>Expected Resolution On: {{ item.expectedResolutionOn | date }}</p>
        <p>Ticket Summary: {{ item.ticketSummary }}</p>
        <p>Ticket Details: {{ item.ticketDetails }}</p>
        <p>Ticket Status: {{ item.ticketStatus }}</p>
        <p>Ticket Type: {{ item.ticketType }}</p>
    </div>
</div>