<!-- <div class="mt-3 mx-3 px-3 py-3 d-flex justify-content-around flex-wrap gap-3" style="background-color: aliceblue;"> -->
    <div class="dialog-container card px-3 py-3 d-flex justify-content-center align-items-center">
        <h1 mat-dialog-title class="dialog-title">Ticket Details</h1>
        <p>Ticket Id : {{ inputData.item.ticketId }}</p>
        <p>Raised By: {{ inputData.item.raisedByUserName }}</p>
        <p>Created On: {{ inputData.item.createdOn | date }}</p>
        <p>Expected Resolution On: {{ inputData.item.expectedResolutionOn | date }}</p>
        <p>Ticket Summary: {{ inputData.item.ticketSummary }}</p>
        <p>Ticket Details: {{ inputData.item.ticketDetails }}</p>
        <p>Ticket Status: {{ inputData.item.ticketStatus }}</p>
        <p>Ticket Type: {{ inputData.item.ticketType }}</p>
        <!-- <div *ngIf="!resolved()">
            <a role="button" (click)="openDialog()">Resolve</a>
            <button mat-raised-button (click)="openDialog()">Resolve</button>
            
        </div> -->
    </div>
    <!-- <app-resolution [id]="parseId()" [visible]="dialogVisible"></app-resolution> -->
    <!-- <div *ngIf="resolved()" class="w-25 h-25 card px-3 py-3 d-flex justify-content-center align-items-center">
        
    </div> -->
<!-- </div> -->

<!-- error.error() -->