<form (ngSubmit)="onSubmit()" #add="ngForm">
    <div class="d-flex justify-content-center align-items-center">
        <div class="m-5 bg-white p-3 rounded w-50">
            <div class="form-group mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control form-control-lg" name="userName" placeholder="Username" ngModel required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Ticket Summary</label>
                <input type="text" class="form-control form-control-lg" name="ticketSummary" placeholder="Provide a summary for the ticket" ngModel required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Ticket Details</label>
                <textarea type="textarea" class="form-control form-control-lg" name="ticketDetails" placeholder="Provide your details here" ngModel required></textarea>
            </div>
            <div class="form group mb-3">
                <label class="form-label" for="ticketType">Ticket Type</label>
                    <select class="form-control form-control-lg select" id="ticketType" name="ticketType" ngModel required>
                        <option disabled selected>select</option>
                        <option value="subscription">Subscription</option>
                        <option value="billing">Billing</option>
                        <option value="post management">Post Management</option>
                        <option value="others">Others</option>
                    </select>
            </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success btn-lg py-1">Submit</button>
        </div>
        </div>
    </div>
</form>