label{
    font-weight: 600;
}

input, textarea{
    font-size: small;
}

.form{
    background-color: #d2c7e0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    position: fixed;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

  .full-width {
    width: 100%;
  }

.title{
    color: rgb(48, 48, 152) !important;
    font-weight: bold !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 32px !important;
}

