h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.img-mid{
    height: 50vh;
    width: 85%;
}

.container {
    height: 70vh;
    width: 80rem;   
}


