<div class="support-component d-flex justify-content-center align-items-center vh-75 beige-bck mt-4 mx-3 rounded-3 gap-5 gap-sm-2 gap-md-5">
    <div class="m-2 rounded-2 d-flex justify-content-center align-items-center" routerLink="/support/list">
        <span class="" routerLink="/support/list">Show Tickets</span>
    </div>
    <div class="m-2 rounded-2 d-flex justify-content-center align-items-center" routerLink="/support/create">
        <span class="" routerLink="/support/create">Raise Ticket</span>
    </div>
</div>
