<nav class="navbar sticky-top navbar-expand-md lav-color">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand fs-6 initialism">Influentia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav Home-nav-list">
            <a class="nav-link" routerLink="/">Subscription</a>
            <a class="nav-link" routerLink="">Account</a>
            <a class="nav-link" routerLink="#">Content</a>
            <a class="nav-link" routerLink="/support">Support</a>
            <span class="mx-3"></span>
            <div class="" >
            <a class="btn btn-sm btn-outline-light" *ngIf="!login(); else noUser" routerLink="/signup">SignUp</a>
            <a class="btn btn-sm btn-outline-light" *ngIf="!login()" routerLink="/login">Login</a>
            </div>
            <ng-template #noUser>
              <a class="btn btn-sm btn-outline-light" (click)="onLogout()">LogOut</a>
            </ng-template>
        </div>
      </div>
    </div>
</nav>



