.lav-color{
    background-color: #CDB0EE;
    color: white !important;
}
a{
    color: darkblue !important;
}

.btn-class{
    cursor: pointer;
    /* background-color: #b791e1; */
}
.btn-class:hover{
    transform: scale(1.02);
    background-color: #48355f;
    color: #fff !important;
    border: 1px solid #78589e;
}

