<nav class="navbar sticky-top navbar-expand-md lav-color">

  <div class="container-fluid">

    <a routerLink="/" class="navbar-brand fs-6 initialism" style="font-family:Georgia, 'Times New Roman', Times, serif;"><fa-icon [icon]="globe" aria-hidden="true"></fa-icon>   Influentia</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

      <div class="navbar-nav Home-nav-list">

        <a class="nav-link" mat-button [matMenuTriggerFor]="subscription">Subscription</a>
          <mat-menu #subscription="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/subscription/purchase">Purchase</button>
            <button mat-menu-item routerLink="/subscription/details">Details</button>
          </mat-menu>
        <a class="nav-link" mat-button [matMenuTriggerFor]="account">Account</a>
          <mat-menu #account="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/account/add">Add Account</button>
            <button mat-menu-item routerLink="/account/list">List Account</button>
            <button mat-menu-item routerLink="/account/remove">Remove Account</button>
          </mat-menu>
        <a class="nav-link" mat-button [matMenuTriggerFor]="content">Content</a>
          <mat-menu #content="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/post/create">Create Post</button>
            <button mat-menu-item routerLink="/post/list">Post List</button>
            <button mat-menu-item routerLink="/post/analytics">Analytics</button>
          </mat-menu>
        <a class="nav-link" mat-button [matMenuTriggerFor]="support">Support</a>
          <mat-menu #support="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/support/list">Show Tickets</button>
          </mat-menu>
        <span class="mx-3"></span>
            
        <a class="btn btn-sm btn-class mx-3" *ngIf="!login(); else noUser" routerLink="/signup">SignUp  <fa-icon [icon]="signUp" aria-hidden="true"></fa-icon></a>
        <a class="btn btn-sm btn-class" *ngIf="!login()" routerLink="/login">Login  <fa-icon [icon]="signIn" aria-hidden="true"></fa-icon></a>
            
        <ng-template #noUser>
          <a class="btn btn-sm btn-class" (click)="onLogOut()">LogOut  <fa-icon [icon]="signOut" aria-hidden="true"></fa-icon></a>
        </ng-template>

      </div>

    </div>

  </div>

</nav>

