<div>
<div class="d-flex justify-content-end mt-3 mx-3" *ngIf="userLogin()">
    <button mat-button class="border border-2 rounded"
     style="color: purple; background-color:rgb(221, 234, 247);"
     (click)="openForm()"
    ><fa-icon [icon]="plus"></fa-icon><span class="mx-2"></span>Raise a Ticket</button>
</div>

<div class="container-fluid mt-2 mx-1 " style="background-color: aliceblue" *ngIf="(error===undefined)">
    <div class="row border border-2 py-2 d-flex justify-content-center align-items-center rounded-top-2" style="background-color: #bbdaf6; color: blueviolet">
        <div class="col-2">Ticket Id</div>
        <div class="col-2">Created On</div>
        <div class="col-2">Ticket Status</div>
        <div class="col-2">Ticket Details</div>
        <div class="col-2">Resolution Details</div>
    </div>
    <div class="mx-1 my-2" *ngFor="let i of list">
        <app-ticket-item [item]="i" [id]="i.ticketId"></app-ticket-item>
    </div>
</div>
</div>