<form (ngSubmit)="onLogin()" #loginFormData="ngForm">

    <div class="d-flex justify-content-center align-items-center">

        <div class="m-5 p-3 rounded w-50 border border-2 border-rounded">

            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" ngModel required email #email="ngModel">
                <span *ngIf="!email.valid && email.touched">Please enter a valid email!!</span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" ngModel required password>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success btn-lg py-1">Login</button>
            </div>

        </div>

    </div>

</form>
